body
{
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/contemporary_china.png");
}

header
{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
    flex-direction: row;
}

#logo
{
	width: 25%;
	height: 25%;
}

h1
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
  font-size: 4em;
  padding-left: 30px;
}